#about
    padding: 95px 0
    .imgbox
        img
            zoom: 1.5
    .textbox
        h1
            font-size: 56px
            line-height: 1.2
            color: #1D2A4D
            font-weight: 700
        h2
            font-size: 20px
            font-weight: 700
            color: #13C3DB
            border-bottom: 5px solid #979797
            max-width: 84px
            margin-bottom: 13px
        p
            font-size: 17px
            line-height: 1.5
            color: #848E9F
            margin: 30px 0
    .services
        gap: 20px
        .iconbox
            display: block
            text-align: center
            padding: 30px 53px
            border-radius: 90px
            background-color: #EFF5F9
            i
                font-size: 40px
                color: #13C3DB
            .text
                margin-top: 20px
                display: block
                text-align: center
                font-size: 16px
                font-weight: 700
                h4
                    color: #1D2A4D
                h6
                    color: #13C3DB
