footer
    padding: 95px 0 0
    background-color: #1D2A4D
    .menu
        padding-bottom: 95px
        border-bottom: 1px solid #354F8E
        .getintouch
            max-width: 300px
            h2
                font-size: 24px
                font-weight: 700
                color: #12BBD2
                border-bottom: 5px solid #314A85
                margin-bottom: 30px
            p
                font-size: 18px
                color: #E9EFF3
                word-spacing: 2px
                line-height: 1.3
                margin-bottom: 30px
            .info
                i
                    margin-right: 15px
                    color: #12BBD2
                h4
                    font-size: 18px
                    color: #E9EFF3
        .quick
            h2
                font-size: 24px
                font-weight: 700
                color: #12BBD2
                border-bottom: 5px solid #314A85
                margin-bottom: 30px
            .nav
                i, a
                    font-size: 18px
                    color: #E9EFF3
                    &:hover
                        cursor: pointer
        .popular
            h2
                font-size: 24px
                font-weight: 700
                color: #12BBD2
                border-bottom: 5px solid #314A85
                margin-bottom: 30px
            .nav
                i, a
                    font-size: 18px
                    color: #E9EFF3
                    &:hover
                        cursor: pointer
        .newsletter
            h2
                font-size: 24px
                font-weight: 700
                color: #12BBD2
                border-bottom: 5px solid #314A85
                margin-bottom: 30px
            .mail
                input
                    width: 205px
                    height: 55px
                    border-radius: 10px 0 0 10px
                .signup
                    margin-left: -4px
                    width: 80px
                    height: 55px
                    border-radius: 0 10px 10px 0
                    color: #ffffff
                    font-weight: 700
                    border: 0
                    background-color: #13C5DD
                    transition: 0.3s
                    &:hover
                        color: #000000
                        box-shadow: 0 0 0 5px rgba(0, 150, 136, 0.3)
            .followus
                h4
                    font-size: 16px
                    font-weight: 700
                    color: #13C5DD
                    margin: 25px 0 20px
                .icons
                    gap: 10px
                    .icon
                        padding: 14px
                        display: flex
                        justify-content: center
                        align-content: center
                        color: #ffffff
                        width: 50px
                        border-radius: 25px
                        background-color: #13C5DD
                        transition: 0.3s
                        i
                            font-size: 20px
                            transition: 0.3s
                        &:hover
                            box-shadow: 0 0 0 5px rgba(0, 150, 136, 0.3)
                            cursor: pointer
                            i
                                color: #000000
                                cursor: pointer
    .ending
        margin: 20px 0
        h6
            font-size: 18px
            color: #ffffff
            a
                color: #13C5DD
                cursor: pointer
