#navbar
    position: sticky
    top: 0
    background-color: #ffffff
    border: 1px solid #e5e5e5
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
    .box
        display: flex
        justify-content: space-between
        padding: 22px 0
        .logo
            display: flex
            font-size: 40px
            color: #13C3DB
            h1
                margin-left: 10px
                font-weight: 700
        .nav
            a
                color: #000000
