#welcome
    background-image: url('assets/doctor.jpg')
    background-size: cover
    .textbox
        margin: 95px 0
        width: 800px
        h2
            font-size: 20px
            color: #13C3DB
            border-bottom: 5px solid #979797
            max-width: 180px
        h1
            font-size: 80px
            color: #ffffff
        .buttons
            margin-top: 50px
            .find
                margin: 0 10px
                padding: 15px 48px
                font-weight: 600
                background-color: #ffffff
                border-radius: 30px
                color: #000000
                border: 0
            .appointment
                margin: 0 10px
                padding: 15px 48px
                font-weight: 600
                border: 1px solid #ffffff
                border-radius: 30px
                background: none
                color: #ffffff
