body {
  font-family: "Roboto Condensed", sans-serif;
}

.imgbox img {
  width: 100%;
}

#topinfo .col-md-12 {
  margin: 10px 0;
}
#topinfo .infos {
  display: flex;
}
#topinfo .infos h4 {
  font-size: 16px;
  color: #848E9F;
  font-weight: 450;
  margin: 0;
}
#topinfo .infos i {
  margin-right: 8px;
}
#topinfo .infos .line {
  border-left: 2px solid #848E9F;
  margin: 4px 20px 2px;
}
#topinfo .icons i {
  margin-left: 10px;
  color: #848E9F;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#navbar .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}
#navbar .box .logo {
  display: flex;
  font-size: 40px;
  color: #13C3DB;
}
#navbar .box .logo h1 {
  margin-left: 10px;
  font-weight: 700;
}
#navbar .box .nav {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
}
#navbar .box .nav a {
  font-size: 18px;
  font-weight: 700;
  color: #1D2A4D;
  transition: 0.2s;
}
#navbar .box .nav a:focus {
  border-bottom: 3px solid #13C5DD;
}
#navbar .box .nav a:hover {
  border-bottom: 3px solid #13C5DD;
  color: #13C5DD;
}

#welcome {
  background-image: url("assets/doctor.jpg");
  background-size: cover;
}
#welcome .textbox {
  margin: 95px 0;
  width: 800px;
}
#welcome .textbox h2 {
  font-size: 20px;
  font-weight: 700;
  color: #13C3DB;
  border-bottom: 5px solid #8692A0;
  max-width: 180px;
  margin-bottom: 20px;
}
#welcome .textbox h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
#welcome .textbox .buttons {
  margin-top: 40px;
}
#welcome .textbox .buttons .find {
  margin: 0 10px;
  padding: 20px 48px;
  font-size: 17px;
  font-weight: 700;
  background-color: #EFF5F9;
  border-radius: 30px;
  color: #000000;
  border: 0;
}
#welcome .textbox .buttons .appointment {
  margin: 0 10px;
  padding: 20px 48px;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #EFF5F9;
  border-radius: 30px;
  background: none;
  color: #ffffff;
}

#about {
  padding: 95px 0;
}
#about .imgbox img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#about .textbox h1 {
  font-size: 56px;
  line-height: 1.2;
  color: #1D2A4D;
  font-weight: 700;
}
#about .textbox h2 {
  font-size: 20px;
  font-weight: 700;
  color: #13C3DB;
  border-bottom: 5px solid #8692A0;
  max-width: 84px;
  margin-bottom: 13px;
}
#about .textbox p {
  font-size: 17px;
  line-height: 1.5;
  color: #848E9F;
  margin: 30px 0;
}
#about .services {
  gap: 20px;
}
#about .services .iconbox {
  display: block;
  text-align: center;
  padding: 30px 53px;
  border-radius: 90px;
  background-color: #EFF5F9;
}
#about .services .iconbox i {
  font-size: 40px;
  color: #13C3DB;
}
#about .services .iconbox .text {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
#about .services .iconbox .text h4 {
  color: #1D2A4D;
}
#about .services .iconbox .text h6 {
  color: #13C3DB;
}

#services {
  margin-bottom: 60px;
}
#services .textbox h2 {
  font-size: 20px;
  font-weight: 700;
  color: #13C3DB;
  border-bottom: 5px solid #8692A0;
  max-width: 100px;
  margin-bottom: 10px;
}
#services .textbox h1 {
  font-size: 56px;
  line-height: 1.2;
  color: #1D2A4D;
  font-weight: 700;
  width: 500px;
  text-align: center;
  margin-bottom: 50px;
}
#services .box {
  margin-bottom: 25px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #EFF5F9;
}
#services .box .icon {
  padding: 40px 58px;
  font-size: 30px;
  border-radius: 100% 50%;
  background-color: #13C5DD;
  color: #FFFFFF;
}
#services .box .text {
  margin: 25px 0;
}
#services .box .text h3 {
  font-size: 24px;
  color: #1D2A4D;
  font-weight: 700;
  margin-bottom: 10px;
}
#services .box .text p {
  font-size: 16px;
  line-height: 1.6;
  color: #848E9F;
}

#appointment {
  background-color: #13C5DD;
  padding: 95px 0;
}
#appointment .textbox h2 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 5px solid #8692A0;
  max-width: 123px;
  margin-bottom: 10px;
}
#appointment .textbox h1 {
  font-size: 56px;
  line-height: 1.2;
  color: #1D2A4D;
  font-weight: 700;
  width: 500px;
  margin-bottom: 30px;
}
#appointment .textbox p {
  color: #ffffff;
  line-height: 1.4;
  letter-spacing: 0.6px;
  word-spacing: 2px;
}
#appointment .textbox .buttons {
  margin-top: 40px;
}
#appointment .textbox .buttons .find {
  margin: 0 10px;
  padding: 20px 48px;
  font-size: 17px;
  font-weight: 700;
  background-color: #1D2A4D;
  border-radius: 30px;
  color: #ffffff;
  border: 0;
}
#appointment .textbox .buttons .readmore {
  margin: 0 10px;
  padding: 20px 48px;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #1D2A4D;
  border-radius: 30px;
  background: none;
  color: #1D2A4D;
}
#appointment .box {
  text-align: center;
  background-color: #ffffff;
  padding: 47px;
  border-radius: 10px;
}
#appointment .box h2 {
  font-size: 40px;
  color: #1D2A4D;
  font-weight: 700;
  margin-bottom: 20px;
}
#appointment .box .selects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#appointment .box .selects .department, #appointment .box .selects .doctor {
  border-radius: 5px;
  padding: 0 8px;
  height: 50px;
  width: 255px;
  border: none;
  background-color: #EFF5F9;
  color: #848E9F;
}
#appointment .box .input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#appointment .box .input .name, #appointment .box .input .email {
  height: 50px;
  width: 255px;
  border: none;
  background-color: #EFF5F9;
  color: #848E9F;
}
#appointment .box .dateandtime {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#appointment .box .dateandtime .date, #appointment .box .dateandtime .time {
  height: 50px;
  width: 255px;
  border: none;
  background-color: #EFF5F9;
  color: #848E9F;
}
#appointment .box .submit {
  padding: 20px 0;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  background-color: #13C5DD;
  color: #ffffff;
  width: 100%;
}

#packages {
  padding: 95px 0;
}
#packages .textbox {
  text-align: center;
}
#packages .textbox h2 {
  font-size: 20px;
  font-weight: 700;
  color: #13C5DD;
  border-bottom: 5px solid #8692A0;
  max-width: 168px;
  margin-bottom: 10px;
}
#packages .textbox h1 {
  font-size: 56px;
  line-height: 1.2;
  color: #1D2A4D;
  font-weight: 700;
  width: 500px;
  margin-bottom: 30px;
}
#packages .packages .packs {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  gap: 45px;
}
#packages .packages .packs .pack {
  flex: 0 0 20em;
  border-radius: 10px;
  background-color: #EFF5F9;
}
#packages .packages .packs .pack .info {
  text-align: center;
}
#packages .packages .packs .pack .info h3 {
  white-space: nowrap;
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
}
#packages .packages .packs .pack .info h5 {
  color: #ffffff;
}
#packages .packages .packs .pack .info span {
  font-weight: 700;
  font-size: 56px;
}
#packages .packages .packs .pack .info .infotext {
  padding: 50px 0;
}
#packages .packages .packs .pack .info .infotext p {
  color: #848e9f;
  margin-bottom: 25px;
}
#packages .packages .packs .pack .info .infotext .apply {
  padding: 20px 50px;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  background-color: #13C5DD;
}
#packages .packages .packs .pack .info .image {
  position: relative;
}
#packages .packages .packs .pack .info .image img {
  border-radius: 10px 10px 0 0;
}
#packages .packages .packs .pack .info .image .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  position: absolute;
  background: rgba(29, 42, 77, 0.8);
  inset: 0;
}
#packages .packages .packs .pack .info .image .overlay .text {
  max-width: 190px;
}
#packages .packages .packs::-webkit-scrollbar {
  display: none;
}
#packages .packages .packs::scroll-button(right), #packages .packages .packs::scroll-button(left) {
  margin-top: 30px;
  right: 46%;
  content: ">";
  border: none;
  background-color: #13C5DD;
  color: #ffffff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 0.1em;
  cursor: pointer;
  position: absolute;
}
#packages .packages .packs::scroll-button(left) {
  right: 51%;
  content: "<";
}
#packages .packages .packs::scroll-button(right):disabled, #packages .packages .packs::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

#doctors .textbox {
  text-align: center;
}
#doctors .textbox h2 {
  font-size: 20px;
  font-weight: 700;
  color: #13C5DD;
  border-bottom: 5px solid #8692A0;
  max-width: 168px;
  margin-bottom: 10px;
}
#doctors .textbox h1 {
  font-size: 56px;
  line-height: 1.2;
  color: #1D2A4D;
  font-weight: 700;
  width: 500px;
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */